@import "./normalize.css";

:root {
  background-color: #4596e7;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #afcfee;
  margin-top: 60px;
}